/* MISC CSS */
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(2em);
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s ease;
}

#about-holder, #resume-holder, #contact-holder, #portfolio-holder {
    background-color: rgba(0, 0, 0, 0.9);
}

#info-box {
    align-items: center;
    display: flex;
    color: white;
}

#icon-box {
    align-items: center;
    display: flex;
}

#icon-holder {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    align-items: center;
    position: relative;        
}

#media-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: teal;
}
/* END OF MISC CSS */


/* BANNER SECTION CSS */
#banner-box {
    height: 100vh;
}
/* END OF BANNER SECTION CSS */


/* ABOUT SECTION CSS */
#about-list-info ul{
    list-style: none;
    padding-left: 0;
}

#about-list-info ul li{
    padding-bottom: 10px;
    font-size: large;
    color: white;
}

#about-list-info ul li span{
    font-weight: bolder;
    color: teal;
}

#about-holder p {
    color: white;
}
/* END OF ABOUT SECTION CSS */

/* RESUME SECTION CSS */
    /* RESUME SECTION HERE */
/* END OF RESUME SECTION CSS */

/* PORTFOLIO SECTION CSS */
#portfolio {
    height: 100%;
}
/* END OF PORTFOLIO SECTION CSS */

/* CONTACT SECTION CSS */
#contact {
    height: 100%;
}

#contact-holder p {
    color: white;
}
/* END OF CONTACT SECTION CSS */

/* FOOTER SECTION CSS */
#footer-box {
    height: 6vh;
    background-color: #343A40;
    margin-bottom: 0px;
}
/* END OF FOOTER SECTION CSS */


